---
import ContactForm from "../components/ContactForm";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout>
  <div class="w-full h-full p-8">
    <ContactForm client:load />
  </div>
</MainLayout>
