---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.jsx";

const { title, description } = Astro.props;

const pathName = new URL(Astro.request.url).pathname;
---

<html
  lang="en"
  class="p-2 sm:p-5 bg-gradient-to-r from-primary to-secondary text-base-content h-full min-h-screen box-border"
  data-theme="dark"
>
  <body class="flex flex-col min-h-full">
    <MainHead title={title} description={description} />
    <Nav
      client:load
      pathName={pathName}
      className="drawer h-auto rounded-tl-lg rounded-tr-lg overflow-x-hidden bg-base-100 flex-grow"
    >
      <div class="max-w-6xl mx-auto w-full h-full">
        <slot />
      </div>
    </Nav>
    <!-- </div> -->
    <Footer />
  </body>
</html>
